@using DTKH2024.SbinSolution.Authorization
@using DTKH2024.SbinSolution.Web.Areas.App.Models.Brands
@using DTKH2024.SbinSolution.Web.Areas.App.Startup
@{
    ViewBag.CurrentPageName = AppPageNames.Common.ScanQR;
}
<abp-page-subheader title='@L("ScanQR")' description='@L("ScanQRHeaderInfo")'>
</abp-page-subheader>

    <script src="https://unpkg.com/html5-qrcode"></script>
@section Scripts {
        <script src="~/view-resources/areas/app/views/scanqr/index.min.js"></script>
    <script src="~/view-resources/areas/app/views/scanqr/index.js"></script>
}

<div class="@(await GetContainerClass())">
    <div id="qr-reader"></div>
    <div id="qr-reader-results"></div>
</div>
<style>
/* QR SCANNER */
#qr-reader {
    background: #fff;
    border: 1px dashed #20914f !important;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin: 55px 0;
}
#qr-reader span {
    color: #20914f;
}
#qr-reader button, #qr-reader select {
    background: transparent;
    border-radius: 30px;
    padding: 10px;
    border: 4px solid #20914f;
    color: #103f24;
    font-size: 15px;
    font-weight: 600;
    margin: 24px 0;
    cursor: pointer;
    outline: none;
}
#qr-reader video {
    width: 100%;
}
</style>
<!-- QR Scanner -->
