@using DTKH2024.SbinSolution.Authorization
@using DTKH2024.SbinSolution.Web.Areas.App.Models.Brands
@using DTKH2024.SbinSolution.Web.Areas.App.Startup
@{
    ViewBag.CurrentPageName = AppPageNames.Common.ScanQR;
}

<abp-page-subheader title='@L("ScanQR")' description='@L("ScanQRHeaderInfo")'>
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
           <h2>Scan QR</h2>
           <h4>Tích hợp vào nhé</h4>
        </div>
    </div>
</div>