@using DTKH2024.SbinSolution.Authorization
@using DTKH2024.SbinSolution.Web.Areas.App.Models.Brands
@using DTKH2024.SbinSolution.Web.Areas.App.Startup
@{
    ViewBag.CurrentPageName = AppPageNames.Common.ScanQR;
}
<abp-page-subheader title='@L("ScanQR")' description='@L("ScanQRHeaderInfo")'>
</abp-page-subheader>

    <script src="https://unpkg.com/html5-qrcode"></script>
@section Scripts {
    <script src="~/view-resources/areas/app/views/scanqr/index.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/view-resources/Areas/App/Views/Sbin/assets/css/style.css">
    <link rel="stylesheet" href="~/view-resources/Areas/App/Views/Sbin/assets/css/base.css">
    <link rel="stylesheet" href="~/view-resources/Areas/App/Views/Sbin/assets/css/grid.min.css">
    <link rel="stylesheet" href="~/view-resources/Areas/App/Views/Sbin/assets/css/responsive.css">
    <style>
        #preload {
            z-index: 99999;
        }
        .no-margin, .no-margin > * {
            margin: 0px !important;
        }

            .no-margin > .skeleton {
                margin-top: 28px !important;
            }

        ul, p {
            padding: 0px !important;
            margin: 0px !important;
        }
    </style>
}
<div id="preload" style="display: none;"></div>

<div class="@(await GetContainerClass())">
    <div id="qr-reader"></div>
    <div id="qr-reader-results"></div>
</div>
<style>
/* QR SCANNER */
#qr-reader {
    background: #fff;
    border: 1px dashed #20914f !important;
    width: 800px;
    height: 480px
    border-radius: 20px;
    overflow: hidden;
    margin: 55px 0;
}
#qr-reader span {
    color: #20914f;
}
#qr-reader button, #qr-reader select {
    background: transparent;
    border-radius: 30px;
    padding: 10px;
    border: 4px solid #20914f;
    color: #103f24;
    font-size: 15px;
    font-weight: 600;
    margin: 24px 0;
    cursor: pointer;
    outline: none;
}
#qr-reader video {
    width: 100%;
}

/* Mobile & Tablet */
@@media (max-width: 1023px) {
    /* QR Scaner*/
    #qr-reader {
        width: 100% !important;
    }
}
</style>
<!-- QR Scanner -->
