
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div class="kt-container ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                </span>
            </div>
        </div>
    </div>
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <p>RedeemGiftsController!</p>
    </div>
</div>