   
<link rel="stylesheet" href="~/Sbin/assets/css/timeline.min.css"></link> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<main id="main">
        <div id="slider">
            <div class="slider-overlay"></div>
            <div class="text-content">
                <h2 data-aos="fade-down" data-aos-duration="2000" class="text-heading">THÙNG RÁC THÔNG MINH - SBIN - PHÂN LOẠI RÁC THẢI TẠI NGUỒN, TÍCH HỢP HỆ THỐNG QUẢN LÝ TÍCH ĐIỂM</h2>
                <p data-aos="fade-down" data-aos-duration="1000" class="text-description">SAVE EARTH SAVE US</p>
            </div>
        </div>
        <div class="grid wide">
            <div class="content-section">
                <div class="row flex-center">
                    <div data-aos="fade-right" class="col l-6 m-6 c-12">
                        <img class="section__img" src="~/Sbin/assets/img/about/Picture1.jpg">
                    </div>
                    <div data-aos="fade-left" class="col l-6 m-6 c-12">
                        <h1 class="section__heading black">Thực trạng rác thải</h1>
                        <div class="section__text">
                            <p class="paragraph">Hiện nay, Việt Nam đang thải ra môi trường khoảng 60.000 tấn rác sinh hoạt một ngày, trong đó khoảng 60% là rác thải sinh hoạt đô thị. Tại thành phố Hồ Chí Minh, mỗi ngày phát sinh khoảng 10.000 tấn rác thải sinh hoạt đô thị. Thành phố đã kêu gọi được nhiều nhà đầu tư xử lý rác thải hàng chục năm trước nhưng chủ yếu là dùng phương pháp chôn lấp. Hiện nay hầu hết các bãi rác này đã sắp quá tải và đang hàng ngày gây ô nhiễm môi trường nghiêm trọng như bãi rác Đa Phước hay khu xử lý Tây Bắc thuộc huyện Củ Chi. Rác thải hiện nay đang là một vấn đề nan giải của xã hội và môi trường. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-section">
                <div class="row flex-center">
                    <div class="col l-6 m-6 c-12">
                        <h1 class="section__heading">Phân Loại Rác Thải</h1>
                        <div class="section__text">
                            <p class="paragraph">Phân loại rác thải tại nguồn là một trong những hành động cơ bản nhất, đơn giản nhất để bước đầu giải bài toán bảo vệ môi trường. Rác thải nếu chỉ chôn lấp thông thường sẽ gây rất nhiều lãng phí như: tốn diện tích lớn cho việc xây dựng, chi phí vận hành các bãi chôn lấp; nguy cơ gây ô nhiễm môi trường... Ngoài ra, các nguồn nguyên liệu có thể tái chế như: giấy, nhựa, kim loại… cũng bị vùi chôn trong đất mà theo tính toán phải mất hàng trăm năm sau mới có thể phân hủy. Phân loại rác thải tại nguồn nếu được thực hiện tốt sẽ làm giảm chi phí, tạo thuận lợi hơn cho quá trình xử lý, tái chế và làm giảm tác động tới môi trường. </p>
                            <p class="paragraph">Việc ứng dụng khoa học kỹ thuật vào phân loại rác thải tại nguồn trở thành tất yếu trong bối cảnh hiện nay.</p>
                        </div>
                    </div>
                    <div class="col l-6 m-6 c-12">
                        <img class="section__img" src="~/Sbin/assets/img/about/Picture4.png">
                    </div>
                </div>
            </div>
            <div class="content-section">
                <div class="text-center">
                    <div class="about_us">
                        <h2 class="section__heading">Về chúng tôi</h2>
                        <h1 class="section__heading">Tầm nhìn và sứ mệnh</h1>
                    </div>
                </div>
                <div class="row flex-center">
                    <div class="col l-6 m-6 c-12">
                        <img class="section__img" src="~/Sbin/assets/img/about/Picture5.png">
                    </div>
                    <div class="col l-6 m-6 c-12 about_us__content">
                        <h1 class="section__heading">Tầm nhìn</h1>
                        <div class="section__text">
                            <p class="paragraph">Chúng tôi hướng tới mục tiêu Việt Nam trở thành quốc gia đi đầu trong việc bảo vệ môi trường, bắt đầu từ việc phân loại rác thải tại nguồn. Chúng tôi mong muốn rằng với giải pháp Thùng rác thông minh – SBIN – tự động phân loại rác thải sẽ tạo ra một làn sóng mới lan rộng khắp cả nước cũng như trên toàn thế giới về ý thức bảo vệ môi trường. Khát vọng của chúng tôi hướng tới một hành tinh xanh, sạch, đẹp, không còn những bãi chôn lấp rác quá tải, không còn những đại dương ngập tràn rác nhựa.</p>
                        </div>
                    </div>
                </div>
                <div class="row flex-center" style="margin-top: 40px;">
                    <div class="col l-6 m-6 c-12">
                        <div class="text-center section__img--overlay">
                            <img class="section__img sbin" src="~/Sbin/assets/img/about/Picture7.png">
                        </div>
                    </div>
                    <div class="col l-6 m-6 c-12 about_us__content">
                        <h1 class="section__heading">Sứ mệnh</h1>
                        <div class="section__text">
                            <p class="paragraph">Chúng tôi hướng tới phát triển SBIN trở thành một sản phẩm quen thuộc với người dân Thành phố Hồ Chí Minh và trên khắp đất nước Việt Nam. Sản phẩm có chức năng tự động phân loại rác kim loại, rác nhựa (hoặc giấy), rác khác. Từ đó, góp phần giảm tải khối lượng công việc của đơn vị thu gom rác, tiết kiệm chi phí thu gom, vận chuyển, xử lý.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-section">
                <h1 class="section__heading">Quá trình thực hiện dự án</h1>
                <img class="section__img" src="~/Sbin/assets/img/about/Quy-trinh.png">
                <ul class="bullet section-list">
                    <li>
                        <span class="sharp">Lập kế hoạch nghiên cứu:</span> Chúng tôi lập ra bản kế hoạch chi tiết về mục tiêu, vấn đề nghiên cứu, giả thuyết khoa học, phương án thiết kế sản phẩm.
                    </li>
                    <li>
                        <span class="sharp">Tiến hành nghiên cứu:</span> Thực hiện thiết kế, chế tạo và thử nghiệm sản phẩm
                    </li>
                    <li>
                        <span class="sharp">Kết quả:</span> Thành công chế tạo Thùng rác thông minh – SBIN – phân loại rác thải tại nguồn tích hợp hệ thống quản lý, tích điểm. 
                    </li>

                </ul>
            </div>
            <div class="content-section">
            <h1 class="section__heading">BẠN SẼ NHẬN ĐƯỢC GÌ KHI SỬ DỤNG SBIN?</h1>
            <img class="section__img" src="~/Sbin/assets/img/about/Xep-hang.png">
                <ul class="bullet section-list">
                    <li>
                        <span class="sharp">Voucher, quà tặng, phần thưởng:</span> Mỗi lần bạn bỏ rác có khả năng tái chế vào SBIN thì sẽ được tích điểm. Số điểm thưởng này được dùng để đổi voucher, quà tặng, phần thưởng.
                    </li>
                    <li>
                        <span class="sharp">Vinh danh:</span>Nếu bạn lọt top 10 người có thành tích cao nhất, bạn sẽ được vinh danh trên bảng xếp hạng đi kèm nhiều quyền lợi hấp dẫn.
                    </li>
                    <li>Góp phần bảo vệ môi trường, vì một trái đất xanh – sạch – đẹp.</li>
                    <li>Góp phần giảm thiểu chi phí thu gom, xử lí rác thải.</li>
                    <li>Tiết kiệm tài nguyên thiên nhiên.</li>
                </ul>
            </div>
            <iframe style="border-radius: 24px;" width="100%" height="600px" src="https://www.youtube.com/embed/cYzLD6oxoes?si=TWrQ5eokD-_edJ1r" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="content-section">
                <h1 class="section__heading">Tác giả dự án</h1>
                <ul class="bullet section-list">
                    <li><span class="sharp">Giáo viên hướng dẫn:</span>Lê Thanh Mai</li>
                    <li><span class="sharp">Học sinh thực hiện: </span>Phạm Tùng Quân</li>
                    <li><span class="sharp">Học sinh thực hiện: </span>Lê Đình Đức Mạnh</li>
                </ul>
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

<script src="~/Sbin/js/about.js"></script>